<div class="center jumbotron">
<h1>Welcome to the Exclusive ClubHouse</h1>
<h2>
This is the home page for the
<a href="#">Exclusive ClubHouse</a>
Website.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% @users.each do |user| %>
    <ul>
        <li><%= user.username %></li>
    </ul>
<% end %>