<div class="center jumbotron">
<h1>Welcome to the Exclusive ClubHouse</h1>
<h2>
This is the home page for the
<a href="#">Exclusive ClubHouse</a>
Website.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% @posts.each do |post| %>    
        <h3><%= post.title %></h3></br>
        <% if logged_in? %>
         <span><%= post.user.username %></span> 
        <% end %>
        <p><%= post.content %></p></br>    
<% end %>